.highcharts-legend-item span {
  text-align:right!important;
  font-family: 'Varela Round', sans-serif !important;
}
.highcharts-legend-title {
  text-align: right !important;
}
.highcharts-title tspan{
font-family: 'Varela Round', sans-serif !important;
}
.highcharts-subtitle tspan {
font-family: 'Varela Round', sans-serif !important;
font-size: 1.2rem;
}

g text {
  font-family: 'Varela Round', sans-serif;
}

.highcharts-axis-title tspan {
  font-size: small;
  font-family: 'Varela Round', sans-serif !important;
}

  .golden {
    text-align: center !important;
    font-family: 'Rubik', sans-serif !important;
  }

  .card-flip div {
    backface-visibility: hidden !important;
    transform-style: preserve-3d !important;
}
.card-flip {
  display: grid !important; grid-template: 1fr / 1fr !important;
  grid-template-areas: "frontAndBack" !important;
  transform-style: preserve-3d !important;
  transition: all 0.7s ease !important;
}

.front {
    grid-area: frontAndBack !important;
    transform-style: preserve-3d !important;
    display: grid !important; grid-template: 1fr / 1fr !important;
    /* transition: all 0.7s ease !important;  */
}

.back {  
    text-align: right !important;
    padding: 5%;
    grid-area: frontAndBack !important;
    transform: rotateY(180deg) !important;
    height: 100% !important;
}

.btn-goback {
  width: 30%;
  position: fixed !important;
  bottom: 10%;
  font-family: 'Varela Round', sans-serif !important;
}

.btn-edit {
  width:30%;
  position: fixed !important;
  bottom: 10%;
  left: 40%;
  font-family: 'Varela Round', sans-serif !important;
}

.textDescription {
  text-align: right;
  direction: rtl;
}

/* .card-flip {
  transform: rotateY(180deg);
} */

.monitor-base {
  margin: auto !important;
}

.monitor-divider {
  /* margin: 20px !important; */
  margin: 1.5vw !important;
}

.label{
  font-size: 0.8vw !important;
  font-family: 'Varela Round', sans-serif !important;
}
.value {
font-family: 'Varela Round', sans-serif !important;
  
}
.goldensWrapper {
  margin:auto;
  height:inherit;
}

.ui.statistics.subStatistics {
  margin-top: 1.5vw;
}


.red.ui.button {
  box-shadow: 0 0 5px gray;

}
.red.ui.button.monitor{
  position: absolute;
  right:1vw;
}

.monitor-title {
  margin: 0 !important;
}