.highcharts-legend-item span {
  text-align:right!important;
  font-family: 'Varela Round', sans-serif !important;
}
.highcharts-legend-title {
  text-align: right !important;
}
.highcharts-title tspan{
font-family: 'Varela Round', sans-serif !important;
}
.highcharts-subtitle tspan {
font-family: 'Varela Round', sans-serif !important;
font-size: 1.2rem;
}

g text {
  font-family: 'Varela Round', sans-serif;
}

.highcharts-axis-title tspan {
  font-size: small;
  font-family: 'Varela Round', sans-serif !important;
}

  .golden {
    text-align: center !important;
    font-family: 'Rubik', sans-serif !important;
  }

  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
}

.back {
    text-align: right;
    padding: 5%;
    grid-area: frontAndBack;
    transform: rotateY(180deg);
    height: 100%;
}

.btn-goback {
  width: 30%;
  position: fixed !important;
  bottom: 25px;
  font-family: 'Varela Round', sans-serif !important;
}

.btn-edit {
  width:30%;
  position: fixed !important;
  bottom: 5%;
  left: 40%;
  font-family: 'Varela Round', sans-serif !important;
}

.textDescription {
  text-align: right;
  direction: rtl;
}

/* .card-flip {
  transform: rotateY(180deg);
} */

.monitor-base {
  margin: auto !important;
}

.monitor-divider {
  margin: 20px !important;
}

.label{
  
font-family: 'Varela Round', sans-serif !important;
}
.value {
font-family: 'Varela Round', sans-serif !important;
  
}