.highcharts-legend-item span {
  text-align: right !important;
  font-family: 'Varela Round', sans-serif !important;
}
.highcharts-legend-title {
  text-align: right !important;
}
.highcharts-title tspan {
  font-family: 'Varela Round', sans-serif !important;
}
.highcharts-subtitle tspan {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 1.2rem;
}

g text {
  font-family: 'Varela Round', sans-serif;
}

.highcharts-axis-title tspan {
  font-size: small;
  font-family: 'Varela Round', sans-serif !important;
}

.golden {
  text-align: center !important;
  font-family: 'Rubik', sans-serif !important;
}

.card-flip div {
  backface-visibility: hidden !important;
  transform-style: preserve-3d !important;
}
.card-flip {
  display: grid !important;
  grid-template: 1fr / 1fr !important;
  grid-template-areas: 'frontAndBack' !important;
  transform-style: preserve-3d !important;
  transition: all 0.7s ease !important;
}

.front {
  grid-area: frontAndBack !important;
  transform-style: preserve-3d !important;
  display: grid !important;
  grid-template: 1fr / 1fr !important;
  /* transition: all 0.7s ease !important;  */
}

.back {
  text-align: right !important;
  padding: 5%;
  grid-area: frontAndBack !important;
  transform: rotateY(180deg) !important;
  height: 100% !important;
}

.btn-goback {
  width: 30%;
  position: fixed !important;
  bottom: 10%;
  font-family: 'Varela Round', sans-serif !important;
}

.btn-edit {
  width: 30%;
  position: fixed !important;
  bottom: 10%;
  left: 40%;
  font-family: 'Varela Round', sans-serif !important;
}

.textDescription {
  text-align: right;
  direction: rtl;
}

/* .card-flip {

  transform: rotateY(180deg);
} */
.MonitorWrap > div {
  min-width: max-content;
}

.MonitorWrap {
  box-shadow: 1px 2px 2px 2px rgb(0 0 0 / 40%);
  max-height: 319px;
}
.monitor-base {
  margin: auto !important;
}

.MonitorWrap .monitor-divider {
  margin: 1vw !important;
}

.label {
  font-family: 'Varela Round', sans-serif !important;
}
.value {
  font-family: 'Varela Round', sans-serif !important;
}
.goldensWrapper {
  margin: auto;
}

.ui.statistics {
  margin: 0;
}

.red.ui.button.monitor {
  margin: 0;
  margin-bottom: 1vh;
  font-size: 1vh;
  box-shadow: 0px 0px 5px gray;
  height: 3vh;
  transition: border-radius 0.8s ease-in-out, font-size 0.8s linear,
    height 1s ease-in !important;
}
.red.ui.button.monitor:hover {
  background-color: rgb(219, 40, 40, 0.8);
  border-radius: 0px 0px 250px 250px;
  font-size: 2rem;
  height: 200vw !important;
  transition: border-radius 0.8s ease-in-out, font-size 0.8s linear,
    height 1s ease-out !important;
}

.monitor-title {
  margin: 0 !important;
}

/* .goldensWrapper .react-grid-layout {
  height: 17vw !important;
} */

.monitorwrap-innersegment {
  height: max-content;
}

.goldensWrapper .segment {
  display: flex !important;
  flex-direction: column;
  height: -webkit-fill-available;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

/* iphone x screen
@media screen and (max-width: 991px) {
  .goldensWrapper {
    height: 92vw !important;
  }

  .goldensWrapper .react-grid-layout {
    height: 92vw !important;
  }
} */

.goldensWrapper > .react-grid-layout > .react-grid-item > .ui.inverted.segment {
  min-width: fit-content;
}

.goldensWrapper > .react-grid-layout > .react-grid-item {
  border-radius: 5px;
}
