.row {
  margin: 0;
}

.title {
  display: inline-block;
  padding: 10px 10px 0 0;
}

.dropdown-menu.show {
  position: absolute !important;
  display: block !important;
  
  height: 170px !important;
  width: max-content !important;
  overflow-y: scroll;
}

.navBar-Color {
  background-color: #219ebc;
  color: white;
}

.form-row {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 15px;
  width: 100%;
  background-color: rgb(237, 241, 247);
  padding: 10px 0 10px 0px;
  border: 1px solid lightblue;
  border-radius: 2%;
}

.dash-title-input {
  margin-bottom: 2px;
  direction: rtl;
}

.title-input {
  margin: 10px 0px 0px;
  direction: rtl;
}

.chart-demo-col {
  padding: 0;
}
.chart-demo-col > div {
  margin: 15px 0 0 20px;
  border: 1px solid lightblue;
  border-radius: 2%;
  padding: 0;
}

.add-graph-btn {
  margin-top: 10%;
  height: 40px;
}
.form-label {
  line-height: 2rem;
}
.ytitle-input{
  margin: 10px 0px 0px;
  direction: rtl;
  width: 50% !important;
  display:inline-block !important;
}
.FormLabel {
  display: block;
  padding-right: 5px;
  text-align: center;
}
.PrivateSwitchBase-input-4 {
  display: block;
}
.dropdown-btn {
  direction: rtl;
  float: none;
}
.btn-outline-primary::after {
  float: left;
  margin-top: 0.7em;
  margin-right: 1.5em;
}
.col {
  text-align: center;
}
.choose-dash-btn {
  margin-right: 20px;
}

.add-column-btn {
  width: 70%;
}

.color-picker {
  height: 34px;
  width: 20%;
  float: right;
}

.user-inputs-col {
  padding: 0;
}
.upload-picture {
  margin-right: 100px;
}

.dropdown-item {
  text-align: right !important;
}

.list-group {
  margin-top: 2%;
  width: 50%;
  float: left;
  margin-left: 10%;
}

.list-group-item {
  text-align: right !important;
  display: inline-block !important;
  position: absolute;
  width: 70%;
}

.color-picked {
  width: 20px;
}

.button-danger {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
}

.dropdown-toggle {
  width: 100% !important;
}

.dropdown-toggle::after {
  float: left;
}
