.row {
  margin: 0;
}

.title {
  display: inline-block;
  padding: 10px 10px 0 0;
}

.dropdown-menu.show {
  position: absolute !important;
  display: block !important;

  height: 170px !important;
  width: max-content !important;
  overflow-y: scroll;
}

.mainNavbar {
  direction: rtl;
}
.navbar-brand.mainBrand {
  color: white !important;
}

@media screen and (max-width: 991px) {
  .mainNavbar {
    text-align: right;
  }
  .containerRows {
    flex-direction: column;
    line-height: 3rem;
  }
  .containerRows > col {
    padding: 0;
    margin: 0;
  }
  .chart-demo-col > div {
    margin: 0 !important;
  }
  .dropdown-btn {
    width: inherit;
  }
  .main-container > .form-row {
    flex-direction: column;
    margin: 0;
  }
  .upload-picture {
    margin-right: 0 !important;
    width: inherit;
  }
  .form-row {
    padding: 3% !important;
    margin-top: 3% !important;
  }
  .form-col {
    padding-bottom: 0;
  }
  .add-graph-btn {
    margin: auto;
  }
  .colCreatChart {
    display: flex !important;
  }
  .form-row.golden {
    height: inherit !important;
    display: inline-block;
  }
  .inner-row {
    flex-direction: column;
  }
  .main-container {
    margin-bottom: 3%;
  }
  .main-div {
    padding-bottom: 3%;
  }

  .inner-row:last-of-type {
    padding-bottom: 3%;
  }

  .list-group {
    margin: 0 !important;
    width: 100% !important;
  }
  .list-group-item {
    width: 100% !important;
  }
  .ui.message {
    position: relative !important;
    width: 100% !important;
  }
}
.navBar-Color {
  background-color: #219ebc;
  color: white;
}

.color-picker-col {
  display: inline-table;
}

.form-row {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 15px;
  width: 100%;
  background-color: rgb(237, 241, 247);
  padding: 10px 0 10px 0px;
  border: 1px solid lightblue;
  border-radius: 2%;
}
.xAxisFlip {
  z-index: 0 !important;
}

.dash-title-input {
  margin-bottom: 2px;
  direction: rtl;
}

.title-input {
  margin: 10px 0px 0px;
  direction: rtl;
}

.chart-demo-col {
  padding: 0;
}
.chart-demo-col > div {
  margin: 15px 0 0 20px;
  border: 1px solid lightblue;
  border-radius: 2%;
  padding: 0;
}

.add-graph-btn {
  height: 40px;
}

.add-monitor-btn {
  margin-top: 3%;
  height: 40px;
}
.add-monitor-col {
  padding-right: 4% !important;
}
.form-label {
  line-height: 2rem;
}
.ytitle-input {
  margin: 10px 0px 0px;
  direction: rtl;
  width: 50% !important;
  display: inline-block !important;
}
.FormLabel {
  display: block;
  padding-right: 5px;
  text-align: center;
}
.PrivateSwitchBase-input-4 {
  display: block;
}
.dropdown-btn {
  direction: rtl;
  float: none;
}
.btn-outline-primary::after {
  float: left;
  margin-top: 0.7em;
  margin-right: 1.5em;
}

.inner-row {
  direction: rtl;
  text-align: right;
}
.col {
  text-align: center;
}

.colPick {
  border-style: none !important;
  height: 5rem !important;
  width: 7rem !important;
  display: inline-table;
}

.submit-color {
  width: 100%;
  font-family: 'Varela Round', sans-serif !important;
  font-size: large;
}

.choose-dash-btn {
  margin-right: 20px;
}

.add-column-btn {
  width: max-content;
}

.color-picker {
  height: 34px;
  width: 20%;
  float: right;
}

.user-inputs-col {
  padding: 0;
}
.upload-picture {
  margin-right: 100px;
}

.dropdown-item {
  text-align: right !important;
}

.textDescription {
  resize: none;
}

.list-group {
  margin-top: 2%;
  width: 50%;
  float: left;
  margin-left: 10%;
}

.list-group-item {
  text-align: right !important;
  display: inline-block !important;
  position: absolute;
  width: 70%;
}

.color-picked {
  width: 20px;
}

.button-danger {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
}

.dropdown-toggle {
  width: 100% !important;
}

.dropdown-toggle::after {
  float: left;
}

/* MODAL for popup color picker */
.modalPopUp {
  z-index: 1 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: block !important;
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.modal_content h3 {
  width: fit-content;
  margin: auto;
  font-family: 'Varela Round', sans-serif !important;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.custom-file {
  z-index: 0 !important;
}

.col {
  min-width: fit-content;
}
