* {
  
  font-family: 'Varela Round', sans-serif !important;
  margin: 0;
  padding: 0;
}

.highchartsWrapper > div {
  height: 100%;
}

.chartWrap > div {
  height: 100%;
}

.layout {
  background-color: rgb(237, 241, 247);
}
#root {
  width: inherit;
}
.xBtn {
  color: blue;
  margin-left: 7px;
  cursor: default;
  font-size: 20px;
}

.xBtn:hover {
  font-weight: bold;
}


html {
  overflow: auto;
}
body {
  font-family: 'Varela Round', sans-serif !important;
  display:flex;
  width:100%;
}



.Tab {
  width: auto;
}

.Tab a {
  padding-top: 15px;
  font-weight: bold;
  font-size: 20px;
}


.dropDownContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 15px;
  width: 100%;
  background-color: rgb(237, 241, 247);
}

.formGroup {
  width: 100%;
  float: right;
}

.chooseDashboardLabel {
  text-align: right;
}

.btnWrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}


.ui.message {
  width: 40% !important;
  position: absolute;
  right: 3%;
  margin-top: 2%;
}
.ui.message p {
  text-align: right;
  display: block;
  right: 20px;
}


.sign-in img {
  height: 35vw;
	width: 40vw;
}